


header {
    background-color: rgb(212, 170, 188);
    border-color: rgb(227, 175, 238);
    font-style: italic;
}

.project-title {
    color: seashell;
    text-align: center;
}

.navlink-container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

.navlink-container li {
    flex: 1;
    padding: 10px;
    text-align:center;
    font-size: 1.5em;
    color: whitesmoke;
    background-color: rgb(155, 101, 138);
    list-style-type: none;
    box-sizing: border-box;
}

.navlink {
    color: whitesmoke;
    text-decoration: underline;
    cursor: pointer;
}