


header {
    background-color: #A0B787;
    border-radius: 5px;
  border-style: double;
  border-color: #E09F6D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}

.project-title {
    color: #214E34;
    text-align: center;
}

.navlink-container {
    display: flex;
    padding: 0;
    margin-bottom: 5px;
   
}

.navlink-container li {
    flex: 1;
    padding: 10px;
    text-align:center;
    font-size: 1.5em;
    color:#214E34 ;
    background-color:#A0B787;
    list-style-type: none;
    box-sizing: border-box;
}

.navlink {
    color: #214E34;
    text-decoration: underline;
    cursor: pointer;
}