


header {
    background-color: #ACBEA3;
    border-radius: 50px;
  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project-title {
    color: #FCDFA6;
    text-align: center;
}

.navlink-container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

.navlink-container li {
    flex: 1;
    padding: 10px;
    text-align:center;
    font-size: 1.5em;
    color:#C59849 ;
    background-color:#ACBEA3;
    list-style-type: none;
    box-sizing: border-box;
}

.navlink {
    color: #C59849;
    text-decoration: underline;
    cursor: pointer;
}